.input-container {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
    position: relative;
}

.input-label {
    font-size: 1rem;
    text-align: center;
}

.input {
    font-size: 1rem;
    padding: 0.75rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: min(70vw, 700px);
    height: 1rem;
    border-radius: 10px;
    border: 1px solid black;
}

.input-container[data-has-button="true"]>.input {
    width: calc(min(70vw, 700px) - 2.75rem);
    padding-right: 3.5rem;
}

.input-range {
    -webkit-appearance: none;
    appearance: none;
    height: 2rem;
    /* background: linear-gradient(to right, var(--progress-color) 0%, var(--progress-color) var(--percent-value), lightgray var(--percent-value), lightgray 100%); */
    /* transition: background 450ms ease-in; */
    background-color: lightgray;
    padding: 0;
    /* margin: 0.5rem; */
    overflow: hidden;
    cursor: pointer;
    border: none;
    border-radius: 100px;
    --thumb-color: hsl(var(--h-value), 100%, 30%);
    --progress-color: hsl(var(--h-value), 100%, 40%);
}

.input-range:hover {
    background-color: darkgray;
    /* --thumb-color: var(--color-two-very-dark); */
    /* --progress-color: var(--color-two-dark); */
}

.input-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 2rem;
    height: 2rem;
    background-color: var(--thumb-color);
    cursor: grab;
    /* border-radius: 100px; */
    box-shadow: -100vw 0 0 100vw var(--progress-color);
}

.input-range::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 2rem;
    height: 2rem;
    background-color: var(--thumb-color);
    cursor: ew-resize;
    border: none;
    border-radius: 0;
}

.input-range::-moz-range-progress {
    background-color: var(--progress-color);
    height: 2rem;
}

.input-textarea {
    resize: vertical;
    height: 6rem;
}