.meal-images-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 10px;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
}

/* hide recency metric for entries because we don't use it */
#history-page-entries-container .meal-score:nth-child(3),
#entries-page-entries-container .meal-score:nth-child(3) {
    display: none;
}

.meal-image-container {
    width: 350px;
    min-height: 200px;
    border-radius: 10px;
    color: white;
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.meal-image-container[data-no-image="true"] {
    background: var(--color-two-dark);
}

.page-container[data-small-screen="true"] .meal-image-container {
    width: 95vw;
}

.meal-image-container::before {
    content: "";
    position: absolute;
    border-radius: inherit;
    background: linear-gradient(0deg, hsla(0, 0%, 0%, 80%) 30%, hsla(0, 0%, 100%, 10%) 100%);
    width: inherit;
    height: 350px;
    left: 0;
    top: 0;
}

/* lower height on entries page because there is always no image, so we just want enough space for information */
.entries-page-entry::before {
    height: 200px;
}

.meal-image-container:hover::before,
.meal-image-container[data-selected="true"]::before {
    background: linear-gradient(0deg, hsla(0, 0%, 0%, 90%) 30%, hsla(0, 0%, 100%, 10%) 100%);
}

.meal-image-container[data-selected="true"]:hover::before {
    background: linear-gradient(0deg, hsla(0, 0%, 0%, 100%) 30%, hsla(0, 0%, 100%, 10%) 100%);
}

.meal-image {
    width: inherit;
    height: 350px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: inherit;
}

/* lower height on entries page because there is always no image, so we just want enough space for information */
.entries-page-entry>.meal-image {
    height: 200px;
}

/* prevent annoying image icon from showing up if there is no image */
.meal-image-container[data-no-image="true"]>.meal-image {
    visibility: hidden;
}

.meal-image-info-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
    justify-content: flex-end;
}

.meal-image-main-text {
    width: 90%;
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
    margin: 0 5%;
}

.meal-image-secondary-text {
    width: 90%;
    text-align: center;
    margin: 0 5%;
}

.meal-image-score-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
    width: 100%;
    padding-bottom: 15px;
}