.button-row {
    display: flex;
    justify-content: center;
    column-gap: 1rem;
    row-gap: 1rem;
    flex-wrap: wrap;
    padding-bottom: 1rem;
    margin: 0 0.25rem;
}

.button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: flex;
    align-items: center;
    column-gap: 5px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
    padding: 0.75rem 1rem;
    text-decoration: none;
    transition: background-color 0.5s;
    box-shadow: 0.25rem 0.25rem 0.25rem var(--box-shadow-color);
    height: fit-content;
    max-width: 70vw;
}

.button:active {
    transform: translateY(0.25rem);
    box-shadow: 0.1rem 0.1rem 0.25rem var(--box-shadow-color);
}

.button>.button-icon {
    font-size: 1.25em;
}

.button>.button-text {
    font-size: 1em;
}

.primary-button {
    color: var(--color-two-text);
    background-color: var(--color-two);
    --box-shadow-color: var(--color-two-dark);
}

.primary-button:hover {
    background-color: var(--color-two-dark);
}

.secondary-button {
    color: var(--color-three-text);
    background-color: var(--color-three);
    --box-shadow-color: var(--color-three-dark);
}

.secondary-button:hover {
    background-color: var(--color-three-dark);
}

.tertiary-button {
    color: var(--color-four-text);
    background-color: var(--color-four);
    --box-shadow-color: var(--color-four-dark);
}

.tertiary-button:hover {
    background-color: var(--color-four-dark);
}

.danger-button {
    color: var(--color-five-text);
    background-color: var(--color-five);
    --box-shadow-color: var(--color-five-dark);
}

.danger-button:hover {
    background-color: var(--color-five-dark);
}

.nav-bar-button {
    height: 100%;
    width: calc(100% / 3);
    border: none;
    background-color: var(--color-one);
    font-size: 1rem;
    line-height: 1rem;
    font-weight: bold;
    cursor: pointer;
    color: black;
    border-radius: 0;
    box-shadow: none;
    flex-direction: column;
    row-gap: 5px;
    column-gap: 0;
}

.nav-bar-button>.button-icon {
    font-size: 1.5em;
}

.nav-bar-button:hover {
    background-color: var(--color-one-dark);
}

.nav-bar-button.open-true {
    border-top: 0.3rem solid black;
    padding-top: 0.5rem;
}

.page-top-bar>button {
    width: calc(100% / var(--n-buttons));
}

.top-bar-account-button {
    width: 3rem;
    height: 3rem;
    padding: 0;
    border-radius: 50%;
    background-color: var(--color-two);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    font-size: 1.5rem;
    box-shadow: none;
    position: absolute;
    top: 0;
    right: 0;
}

.top-bar-account-button:hover {
    background-color: var(--color-two-dark);
}


.page-status-close-button {
    border: none;
    border-radius: 0;
    background-color: inherit;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: none;
}

.page-status-close-button:hover {
    background-color: hsl(0, 0%, 70%);
}