.chips-outer-container {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
}

.chips-container {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    flex-wrap: wrap;
    row-gap: 10px;
    justify-content: center;
}

.chip-input {
    -webkit-appearance: none;
    appearance: none;
    background-color: inherit;
    margin: 0;
    font: inherit;
    color: black;
    width: 0;
    height: 0;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
    cursor: pointer;
    transition: 200ms width linear;
}

.chip-input:checked {
    width: 1.15rem;
    height: 1.15rem;
    margin-right: 0.25rem;
}

.chip-input::before {
    content: "";
    width: 0;
    height: 0;
    box-shadow: inset 1em 1em black;
    transform-origin: bottom left;
    transform: scale(0);
    transition: 200ms transform linear;
}

.chip-input:checked::before {
    width: 1rem;
    height: 1rem;
    transform: scale(1);
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

.chip-label {
    padding: 0.6rem 0.85rem;
    cursor: pointer;
    display: flex;
    border-radius: 10px;
    background-color: white;
    border: 1px solid black;
    flex-wrap: wrap;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: 0.5s background-color;
}

.chip-label:hover {
    background-color: lightblue;
}

.chip-label[data-checked=true] {
    background-color: var(--color-four);
    border: none;
}

.chip-label:hover[data-checked=true] {
    background-color: var(--color-four-dark);
}

.select {
    display: inline-block;
    position: relative;
}

.select>span {
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
}

/* .select[data-open="true"] {
    max-height: 0px;
    overflow: visible;
} */

/* .select>.chips-value::after {
    content: "";
    margin-left: 0.5rem;
    margin-bottom: 0.125rem;
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
} */
/* 
.select[data-open="true"]>.chips-value::after {
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
    margin-bottom: 0;
    margin-top: 0.125rem;
} */

.select>.chips-container {
    flex-direction: column;
    row-gap: 0;
    column-gap: 0;
    position: absolute;
    /* padding: 0.5rem; */
    z-index: 100;
    border: 1px solid black;
    border-radius: 5px;
    /* background-color: white; */
    min-width: 100%;
    width: fit-content;
    margin-top: 10px;
    box-shadow: 0.25rem 0.25rem 0.25rem hsla(0, 0%, 0%, 60%);
}

.select .chip-label {
    border-radius: 0;
    flex-wrap: nowrap;
    border: none;
}

.select .chip-label:nth-child(1) {
    border-radius: 5px 5px 0 0;
}

.select .chip-label:nth-last-child(1) {
    border-radius: 0 0 5px 5px;
}

.select .chip-label:nth-child(1):nth-last-child(1) {
    border-radius: 5px;
}