#edit-page-cost-input {
    --thumb-color: orange;
    --progress-color: hsl(39, 100%, 70%);
}

#edit-page-effort-input {
    --thumb-color: blue;
    --progress-color: hsl(240, 100%, 70%);
}

#edit-page-confirm-delete-text {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}