#edit-page-cost-input {
    --thumb-color: orange;
    --progress-color: hsl(39, 100%, 70%);
}

#edit-page-effort-input {
    --thumb-color: blue;
    --progress-color: hsl(240, 100%, 70%);
}

#edit-page-taste-input {
    --thumb-color: purple;
    --progress-color: hsl(300, 100%, 45%);
}

#edit-page-confirm-delete-text {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

#edit-page-hr {
    width: min(70vw, 700px)
}