* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
}

.page-top-bar {
    width: 100vw;
    background-color: hsl(49, 95%, 55%);
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-top-bar-icon-link {
    padding: 10px;
    margin-left: 5px;
    display: flex;
    align-items: center;
    column-gap: 10px;
    text-decoration: none;
    border-radius: 5px;
    flex-grow: 1;
}

.page-top-bar-icon-link:hover {
    background-color: hsl(49, 95%, 40%);
}

.page-top-bar-icon-img {
    width: 50px;
    height: 50px;
}

.page-top-bar-icon-text {
    font-size: 30px;
    color: black;
    font-weight: bold;
}

.page-title {
    text-align: center;
    font-size: 40px;
    margin: 0;
    flex-grow: 1;
}

.page-top-bar-buttons {
    display: flex;
    align-items: center;
    justify-content: end;
    flex-grow: 1;
}

.page-top-bar-button {
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: none;
    background-color: hsl(49, 95%, 55%);
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

.page-top-bar-button:hover {
    background-color: hsl(49, 95%, 40%);
}

.page-subtitle {
    text-align: center;
    font-size: 20px;
    width: min(80vw, 700px);
    margin-left: auto;
    margin-right: auto;
}

.action-button-row {
    display: flex;
    justify-content: center;
    column-gap: 20px;
    row-gap: 20px;
    flex-wrap: wrap;
}

.action-button {
    cursor: pointer;
    border-radius: 7%;
    font-size: 20px;
    padding: 20px;
    text-decoration: none;
}

.blue-action-button {
    border: none;
    color: white;
    background-color: hsl(240, 100%, 60%);
}

.blue-action-button:hover {
    background-color: hsl(240, 100%, 40%);
}

.red-action-button {
    border: none;
    color: white;
    background-color: hsl(0, 100%, 60%);
}

.red-action-button:hover {
    background-color: hsl(0, 100%, 40%);
}

.white-action-button {
    border: 1px solid black;
    color: black;
    background-color: white;
}

.white-action-button:hover {
    background-color: darkgray;
}

.green-action-button {
    border: none;
    color: white;
    background-color: hsl(120, 100%, 30%);
}

.green-action-button:hover {
    background-color: hsl(120, 100%, 20%);
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

.status-text {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

hr {
    width: 100%;
    border: 1px solid black;
}