* {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

/* 1rem = 16px on mobile, 18px on desktop by default */
:root {
    --amber: hsl(49, 95%, 55%);
    --dark-amber: hsl(49, 95%, 40%);
    --amaranth: hsl(341, 83%, 53%);
    font-size: 100%;
}

@media only screen and (min-width: 400px) {
    :root {
        font-size: 100%;
    }
}

.action-button-row {
    display: flex;
    justify-content: center;
    column-gap: 1rem;
    row-gap: 1rem;
    flex-wrap: wrap;
    padding-bottom: 20px;
}

.action-button {
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
    padding: 1rem;
    text-decoration: none;
}

.primary-action-button {
    border: none;
    color: black;
    background-color: hsl(195, 53%, 79%);
}

.primary-action-button:hover {
    background-color: hsl(195, 53%, 50%);
}

.danger-action-button {
    border: none;
    color: black;
    background-color: hsl(0, 100%, 80%);
}

.danger-action-button:hover {
    background-color: hsl(0, 100%, 70%);
}

.secondary-action-button {
    border: none;
    color: black;
    background-color: hsl(48, 92%, 81%);
}

.secondary-action-button:hover {
    background-color: hsl(48, 92%, 60%);
}

.tertiary-action-button {
    border: none;
    color: black;
    background-color: hsl(120, 73%, 75%);
}

.tertiary-action-button:hover {
    background-color: hsl(120, 73%, 45%);
}

.confirm-delete-text {
    font-size: 1rem;
    text-align: center;
}

dialog:modal {
    border: 2px solid black;
    border-radius: 20px;
    max-height: 70vh;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    margin: 10px;
    max-width: min(70vw, 700px);
    margin-left: auto;
    margin-right: auto;
}

.status-text {
    font-size: 1rem;
    text-align: center;
    font-weight: bold;
}

hr {
    border: 1px solid black;
}