* {
    font-family: 'Roboto', sans-serif;
}

:root {
    background: white;
    background: linear-gradient(180deg, white 0%, hsl(0, 0%, 90%) 100%);
    background-attachment: fixed;
}

.page-title {
    text-align: center;
    font-size: 40px;
}

.page-subtitle {
    text-align: center;
    font-size: 20px;
}

.action-button-row {
    display: flex;
    justify-content: center;
    column-gap: 20px;
}

.action-button {
    cursor: pointer;
    border-radius: 7%;
    font-size: 20px;
    padding: 20px;
    text-decoration: none;
}

.blue-action-button {
    border: none;
    color: white;
    background-color: hsl(240, 100%, 60%);
}

.blue-action-button:hover {
    background-color: hsl(240, 100%, 40%);
}

.red-action-button {
    border: none;
    color: white;
    background-color: hsl(0, 100%, 60%);
}

.red-action-button:hover {
    background-color: hsl(0, 100%, 40%);
}

.white-action-button {
    border: 1px solid black;
    color: black;
    background-color: white;
}

.white-action-button:hover {
    background-color: darkgray;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

.input-label {
    font-size: 25px;
    font-weight: bold;
}

.input {
    font-size: 20px;
    padding: 10px;
    width: min(70%, 700px);
}

.input-range {
    -webkit-appearance: none;
    appearance: none;
    height: 25px;
    background-color: lightgray;
    padding: 0;
    overflow: hidden;
    cursor: pointer;
    --thumb-color: green;
    --progress-color: hsl(120, 100%, 40%);
}

.input-range:hover {
    background-color: darkgray;
}

.input-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background-color: var(--thumb-color);
    cursor: ew-resize;
    box-shadow: -100vw 0 0 100vw var(--progress-color);
}

.input-range::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background-color: var(--thumb-color);
    cursor: ew-resize;
    border: none;
    border-radius: 0;
}

.input-range::-moz-range-progress {
    background-color: var(--progress-color);
    height: 25px;
}

.error-text {
    font-size: 20px;
    text-align: center;
    color: red;
    font-weight: bold;
}