.home-page-meal {
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    width: clamp(70px, var(--score-percent), calc(100% - 20px));
    background-color: hsl(var(--color-h), 100%, 50%);
}

.home-page-meal:hover {
    background-color: hsl(var(--color-h), 100%, 40%);
}

.home-page-meal-name,
.home-page-meal-score {
    display: inline;
    margin: 0;
    padding: 0;
}

.home-page-meal-name[data-taste-set="false"] {
    text-decoration: underline;
}

#home-page-options-cost-input {
    --thumb-color: orange;
    --progress-color: hsl(39, 100%, 70%);
}

#home-page-options-effort-input {
    --thumb-color: blue;
    --progress-color: hsl(240, 100%, 70%);
}

#home-page-options-taste-input {
    --thumb-color: purple;
    --progress-color: hsl(300, 100%, 45%);
}

#home-page-options-recency-input {
    --thumb-color: red;
    --progress-color: hsl(0, 100%, 70%);
}

#home-page-confirm-sign-out-text {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}