#home-page-meals-table,
#entries-page-entries-table {
    width: 100%;
    table-layout: fixed;
    border-spacing: 0;
    border: none;
    overflow: hidden;
}

#home-page-meals-table-header,
#entries-page-entries-table-header {
    position: sticky;
    top: 0;
    background-color: white;
}

#home-page-meals-table-header-row>th,
#entries-page-entries-table-header-row>th {
    padding: 0;
    padding-bottom: 1rem;
    border-bottom: 1px solid gray;
    width: 52px;
    overflow: hidden;
}

th#home-page-meals-table-header-name,
th#entries-page-entries-table-header-date {
    width: min(10rem, 15vw);
    padding-left: 0.5rem;
}

th#home-page-meals-table-header-cuisines {
    width: 10rem;
}

th#home-page-meals-table-header-description {
    width: initial;
}

.home-page-meal,
.entries-page-entry {
    cursor: pointer;
    width: 100%;
    border: none;
    font-size: 1rem;
    color: black;
    margin: 0;
    transition: background-color 0.5s;
}

.home-page-meal:hover,
.home-page-meal[data-current-meal="true"],
.entries-page-entry:hover {
    background-color: lightblue;
}

.home-page-meal>td,
.entries-page-entry>td {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid gray;
    background: none;
    text-align: center;
    overflow: hidden;
}

td.home-page-meal-name,
td.entries-page-entry-date {
    text-align: center;
    padding-left: 0.5rem;
}

td.home-page-meal-description {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

td.home-page-meal-description:hover {
    white-space: normal;
}

div.meal-score-circle {
    --pie-percent: var(--score);
    --pie-color: hsl(var(--color-h), 100%, 50%);
    --pie-size: 50px;
    --pie-thickness: 5px;
}

.home-page-meal[data-missing-data="true"] * {
    text-decoration: underline;
    font-weight: bold;
}

#home-page-meal-dialog {
    position: absolute;
    margin: 0;
    border: 1px solid gray;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 8px;
}

#home-page-meal-dialog>.button {
    border-radius: 0;
    white-space: nowrap;
    margin: 0;
}

#home-page-options {
    padding: 0;
}

#home-page-options-form {
    padding: 1em;
    margin: 0;
}

#home-page-options-cost-input {
    --thumb-color: orange;
    --progress-color: hsl(39, 100%, 70%);
}

#home-page-options-effort-input {
    --thumb-color: blue;
    --progress-color: hsl(240, 100%, 70%);
}

#home-page-options-taste-input {
    --thumb-color: purple;
    --progress-color: hsl(300, 100%, 45%);
}

#home-page-options-recency-input {
    --thumb-color: red;
    --progress-color: hsl(0, 100%, 70%);
}