.home-page-meal {
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    width: clamp(70px, var(--score-percent), calc(100% - 20px));
    background-color: hsl(var(--color-h), 100%, 50%);
}

.home-page-meal:hover {
    background-color: hsl(var(--color-h), 100%, 40%);
}

.home-page-meal-name,
.home-page-meal-score {
    display: inline;
    margin: 0;
    padding: 0;
}

.home-page-meal-name[data-taste-set="false"] {
    text-decoration: underline;
}

#home-page-options-cost-input {
    --thumb-color: orange;
    --progress-color: hsl(39, 100%, 70%);
}

#home-page-options-effort-input {
    --thumb-color: blue;
    --progress-color: hsl(240, 100%, 70%);
}

#home-page-options-taste-input {
    --thumb-color: purple;
    --progress-color: hsl(300, 100%, 45%);
}

#home-page-options-recency-input {
    --thumb-color: red;
    --progress-color: hsl(0, 100%, 70%);
}

#home-page-options-people-container {
    display: flex;
    column-gap: 10px;
    flex-wrap: wrap;
    row-gap: 10px;
}

.home-page-options-person-container {
    display: flex;
    font-size: 20px;
    border-radius: 10%;
    height: 40px;
    align-items: center;
    background-color: yellow;
}

.home-page-options-person-container:hover {
    background-color: hsl(60, 100%, 40%);
}

.home-page-options-person-container:has(.input-checkbox:checked) {
    background-color: hsl(120, 73%, 50%);
}

.home-page-options-person-container:has(.input-checkbox:checked):hover {
    background-color: hsl(120, 73%, 40%);
}

.home-page-options-person-label {
    padding: 5px;
    cursor: pointer;
}