.input-container {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
}

.input-label {
    font-size: 1rem;
    text-align: center;
}

.input {
    font-size: 1rem;
    padding: 0.75rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: min(70vw, 700px);
    height: 1rem;
    border-radius: 10px;
    border: 1px solid black;
}

.input-range {
    -webkit-appearance: none;
    appearance: none;
    height: 2rem;
    background-color: lightgray;
    padding: 0;
    overflow: hidden;
    cursor: pointer;
    border: none;
    --thumb-color: green;
    --progress-color: hsl(120, 100%, 40%);
}

.input-range:hover {
    background-color: darkgray;
}

.input-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 2rem;
    height: 2rem;
    background-color: var(--thumb-color);
    cursor: ew-resize;
    box-shadow: -100vw 0 0 100vw var(--progress-color);
}

.input-range::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 2rem;
    height: 2rem;
    background-color: var(--thumb-color);
    cursor: ew-resize;
    border: none;
    border-radius: 0;
}

.input-range::-moz-range-progress {
    background-color: var(--progress-color);
    height: 2rem;
}

.input-textarea {
    resize: none;
    height: 6rem;
}