body,
html,
.page-container,
.page-header,
.page-main {
    margin: 0;
    padding: 0;
}

.page-container {
    position: relative;
    min-height: 100vh;
}

.page-top-bar {
    width: 100%;
    background-color: var(--amber);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-top-bar-icon-link {
    padding: 0.5rem;
    display: flex;
    align-items: center;
    column-gap: 10px;
    text-decoration: none;
}

.page-top-bar-icon-link:hover {
    background-color: var(--dark-amber);
}

.page-top-bar-icon-img {
    width: 3rem;
    height: 3rem;
}

.page-top-bar-icon-text {
    font-size: 1.5rem;
    color: black;
    font-weight: bold;
}

.page-top-bar-buttons {
    display: flex;
    align-items: center;
    justify-content: end;
}

.page-top-bar-button {
    height: 100%;
    padding: 1.125rem;
    border: none;
    background-color: var(--amber);
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    color: black;
    text-decoration: none;
}

.page-top-bar-button:hover {
    background-color: var(--dark-amber);
}

.page-top-bar-account-button {
    width: 3rem;
    height: 3rem;
    padding: 0;
    border-radius: 50%;
    background-color: hsl(228, 92%, 50%);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    margin-left: 10px;
}

.page-top-bar-account-button>* {
    font-size: 1.5rem;
}

.page-top-bar-account-button:hover {
    background-color: hsl(228, 92%, 40%);
}

.page-title {
    text-align: center;
    font-size: 2rem;
    width: min(80vw, 700px);
    margin-left: auto;
    margin-right: auto;
}

.page-subtitle,
.centered-text {
    text-align: center;
    font-size: 1rem;
    width: min(80vw, 700px);
    margin-left: auto;
    margin-right: auto;
}

.page-status[open] {
    position: static;
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    background-color: hsl(0, 0%, 70%);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page-status-text {
    font-size: 1rem;
    text-align: center;
    font-weight: bold;
    color: black;
    padding: 0;
    padding-left: 10px;
    margin: 0;
}

.page-status-close-button {
    border: none;
    background-color: inherit;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.page-status-close-button:hover {
    background-color: hsl(0, 0%, 60%);
}

.page-status[data-status-type="negative"] {
    background-color: hsl(0, 100%, 80%);
}

.page-status[data-status-type="negative"] .page-status-close-button:hover {
    background-color: hsl(0, 100%, 70%);
}

.page-status[data-status-type="positive"] {
    background-color: hsl(120, 73%, 60%);
}

.page-status[data-status-type="positive"] .page-status-close-button:hover {
    background-color: hsl(120, 73%, 40%);
}