body,
html,
.page-container,
.page-header,
.page-main {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.page-main {
    opacity: 0;
    transition: 0.25s opacity;
    height: calc(100vh - 4rem);
    overflow: auto;
}

.page-container {
    position: relative;
    min-height: 100vh;
}

.page-nav-bar {
    width: 100%;
    background-color: var(--color-one);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.page-nav-bar-icon-button {
    padding: 0.5rem;
    display: flex;
    align-items: center;
    column-gap: 10px;
    text-decoration: none;
    background-color: var(--color-one);
    border: none;
    cursor: pointer;
    transition: background-color 0.5s;
}

.page-nav-bar-icon-button:hover {
    background-color: var(--color-one-dark);
}

.page-nav-bar-icon-img {
    width: 3rem;
    height: 3rem;
}

.page-nav-bar-icon-text {
    font-size: 1.5rem;
    color: black;
    font-weight: bold;
}

.page-nav-bar-buttons {
    display: flex;
    align-items: center;
    justify-content: end;
}

.page-title {
    text-align: center;
    font-size: 2rem;
    width: min(80vw, 700px);
    margin-left: auto;
    margin-right: auto;
}

.page-subtitle,
.centered-text {
    text-align: center;
    font-size: 1rem;
    width: min(80vw, 700px);
    margin-left: auto;
    margin-right: auto;
}

.page-status {
    /* offset by height of top bar so it doesn't move during closing transition */
    position: absolute;
    top: 4rem;
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    background-color: hsl(0, 0%, 80%);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page-status[open] {
    position: static;
}

.page-status-text {
    font-size: 1rem;
    text-align: center;
    font-weight: bold;
    color: black;
    padding: 0;
    padding-left: 10px;
    margin: 0;
}

.page-status[data-status-type="negative"] {
    background-color: var(--color-five);
}

.page-status[data-status-type="negative"]>* {
    color: var(--color-five-text);
}

.page-status[data-status-type="negative"] .page-status-close-button:hover {
    background-color: var(--color-five-dark);
}

.page-status[data-status-type="positive"] {
    background-color: var(--color-four);
}

.page-status[data-status-type="positive"]>* {
    color: var(--color-four-text);
}

.page-status[data-status-type="positive"] .page-status-close-button:hover {
    background-color: var(--color-four-dark)
}